face_recognition/input

.vscode
.python-version

**/__pycache__
**/.ipynb_checkpoints
**/*.csv
!**/.gitkeep
**/*.pt
**/*.out
**/*.log
**/*.json
**/*.png
**/*.ipynb
**/.DS_Store

**/log
**/outputs
**/weight
**/preds
**/val_preds
**/mlflow
_facenet-example

app/*.jpg
app/*.csv
app/images