opencv-python==4.4.0.46
jupyter 
jupyter-contrib-nbextensions 
jupyter_nbextensions_configurator
cython

pytest
nose
streamlit
tqdm
torchsummary
hydra-core
mlflow
matplotlib
seaborn
scikit-learn
albumentations
segmentation-models-pytorch
tensorboard
psutil
facenet-pytorch
cupy-cuda101